*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	scroll-behavior: smooth;
}

a{
	color: inherit;
	text-decoration: none;

}

.medsos{
	padding: 5px 0;
	background-color: #fff ;
	font-size: 22px;
	
}

.medsos ul li{
	display: inline-block ;
	color: #fff;
	margin-right: 16px ;
	color: #529c42;
}

.container {
	width: 85%;
	margin: 0 auto;
}

.container:after {
	content: '';
	display: block;
	clear: both;
}

header{
	position: relative;
	z-index: 9999;
	background-color: #529c42;;
	
}

header h1{
	float: left;
	padding: 15px 0 ;
	color: #fff ;

}

header ul {
	float: right;
}

header ul li{
	display: inline-block;

}

nav ul li a{
	padding: 15px 15px;
	display: block;
	float: left;
	text-decoration: none;
	font-family: verdana;
	font-size: 15px;



}

nav ul li a:hover{
	background-color: #529c42 ;
	color: #fff;
	transition: all .3s ease;
}

nav ul li ul .isi-dropdown {
	display: block;
	
}
 
.dropdown:hover .isi-dropdown {
	display: block;
}
 
.isi-dropdown a:hover {
	color: #fff !important;
}

.isi-dropdown a:hover .isi-dropdown a {
	color: #fff !important;
	display: block;
}
 
.isi-dropdown {
	position: absolute;
	display: none;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	background-color: #f9f9f9;

}
 
.isi-dropdown a {
	color: #3c3c3c !important;
}
 
.isi-dropdown a:hover {
	color: #232323 !important;
	background: #f3f3f3 !important;
}

header input {
  float: center;
  width: 25%;
  border: 3px solid grey;
  padding: 15px 0;
  outline: none;
  color: grey ;
  border-radius: 25px 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
header input:focus {
  color: black;
}
header btn-search {
  position: relative;  
  right: -40px;
  width: 40px;
  height: 36px;
  border: 1px solid #E91E63;
  background: #E91E63;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}


.active {
	background-color: #529c42;
	color: #fff;
}

.banner {
	position: relative;
	max-width: auto;
	margin-top: 20px;

}


.banner1 .banner2 {
	position: absolute;
}

.banner1{
    height: 50vh; 
    background: url('image/bannerkanza1.jpg') no-repeat center; 
    background-size: cover;
    justify-content:  ;
    align-items: center ;
    display: ;
    align-items: center;
    animation : slide1 15s infinite;
    -webkit-animation: slide1 15s infinite;
    

    
.
}



.label {
	 ;
	margin-bottom: 20px;
	margin-top: 20px;
	color:  #529c42 ;
	padding: 30px;
}


.buttonfloating{
	position: fixed;
	right: 25px;
	overflow: hidden;
	width: 90px;
	height: 90px;
	border-radius: 100px;
	border: 0;
	z-index: 9999;
	color: white;
	transition: .2s;
	background-color: white;
	border: 5px solid green;
}

.buttonfloating:hover {
	width: auto;
	padding: 0 20px;
	cursor: pointer;
}

.buttonfloating span {
	font-size: 16px;
	margin-left: 5px;
	transition: .2s;
	line-height: 0px;
	display: none;
}

.buttonfloating: hover span {
	display: inline-block;
}

.buttonfloating: hover img {
	margin-bottom: 3px;
}

.buttonfloating.whatsapp {
	bottom: 25px;
	background-color: #51c735;
	border: 2px solid #fff;

}

main  {
	
	border:;
	width: 80%;
}

.tentangkami h3{
	text-align: center;
	padiing: 20px;
	margin-bottom: 60px;
	margin-top: 40px;
	color: #228b22;
	font-family: verdana;
}


.tentangkami p{
	word-spacing: 2px;
	line-height: 25px;
	text-align: justify;
	font-family: verdana;
	font-size: 14px;
	margin-right: 20px;
	margin-left: 20px;
}

.artikel123 h1{
	text-align: center;
	padiing: 20px;
	margin-bottom: 60px;
	margin-top: 40px;
	color: #228b22;
	font-family: verdana;
}

.artikel123 h4{
	margin-top: 10px;
	margin-bottom: 10px;
}

.artikel123 p{
	word-spacing: 2px;
	line-height: 25px;
	text-align: justify;
	font-family: verdana;
	font-size: 14px;
	margin-right: 20px;
	margin-left: 20px;
}

.tujuan h3{
	text-align: center;
	padiing: 20px;
	margin-bottom: 60px;
	margin-top: 40px;
	color: #228b22;
	font-family: verdana;
}
.tujuan p{
	word-spacing: 2px;
	line-height: 25px;
	text-align: center;
	font-family: verdana;
	font-size: 16px;
	margin-right: 20px;
	margin-left: 20px;


}

.alasan{
    color: #228b22;
    background-color: #fff; 
    text-align: center;
}

.alasan h3{
  text-align: center;
	padiing: 20px;
	margin-bottom: 60px;
	margin-top: 60px;
	color: #228b22;
	font-family: verdana;
}

.box{
    color: #7E0B90;
}

.box .col-4{
    width: 25%;
    padding: 20px;
    color: #228b22;
    background-color: #fff;
    box-sizing: border-box;
    float: left;
    text-align: center;
    margin-left: 45px;
}

.icon{
    width: 70px;
    height: 70px;
    color: #228b22;
    border: 3px solid;
    border-radius: 50%;
    line-height: 70px;
    margin: 0 auto;
    text-align: center;
    font-size: 45px;   
}

.icon:hover{
    color: #fff;
    background-color: #228b22;
}

.artikel h3{
  text-align: center;
	padiing: 20px;
	margin-bottom: 60px;
	margin-top: 60px;
	color: #228b22;
	font-family: verdana;
}

aside {
	width: 20%;
	height: relative;
	justify-content: center;
	align-items: center;
	float: right;
	margin: 0 auto;
	padding: 0px;
	border: ;
	position: relative;
	background-color: #529c42;
	
}
aside input {
  float: center;
  width: 80%;
  border: 3px solid grey;
  padding: 15px 0;
  outline: none;
  color: black ;
  border-radius: 25px 25px;
  background-color: white;
  margin-top: 20px;
}
aside input:focus {
  color: black;
}
aside btn-search {
  position: relative;  
  right: -40px;
  width: 40px;
  height: 36px;
  border: 1px solid #E91E63;
  background: #E91E63;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
}

.produk h2 {

  font-family: verdana;
  color: #fff;
  border: ;
  border-radius: 15px;
  transition: all .3s ease;
  text-align: center;
}

.slide {
	position: relative;
	max-width: auto;
	margin-left: auto;
	margin-right: auto;
	
	
}

.slide1, .slide2, .slide3{
	position: absolute;
	width: 80%;
	height: 200px;
	border: 3px solid white;
	float: center;
	margin-left: auto;
	margin-right: auto;
	
}

.slide1{
	background: url('image/gomilk.jpg') no-repeat center; 
	background-size: cover;
	animation: fade1 10s infinite;
  -webkit-animation: fade1 10s infinite;

}

.slide2{
	background: url('image/milon.jpg') no-repeat center; 
	background-size: cover;
	animation: fade2 10s infinite;
  	-webkit-animation: fade2 10s infinite;
}

.slide3{
	background: url('image/nutriclay.jpg') no-repeat center;
	background-size: cover;
	animation: fade 10s infinite;
  -webkit-animation: fade3 10s infinite;
}


}

@keyframes fade1{

	0%{opacity: 1}
	33.333% {opacity: 1}
	66.666% {opacity: 1}
	100% {opacity: 1}
}

@keyframes fade2{

	0%{opacity: 0}
	33.333% {opacity: 1}
	66.666% {opacity: 0}
	100% {opacity:0 }
}

@keyframes fade3{

	0%{opacity: 0}
	33.333% {opacity: 0}
	66.666% {opacity: 1}
	100% {opacity: 1}
}

.bacajuga h2 {
  font-family: verdana;
  color: #fff;
  border: ;
  border-radius: 80px;
  transition: all .3s ease;
  text-align: center ;
  position: relative;
  margin-top: 230px;
  break-after: ;
  float: center;


}



main {
	position: relative;
}

img{
	object-fit: cover;
	
}

.grid {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	margin: 20px;
	align-items: center;
	grid-gap: 30px;
	margin-top: 10px;



}
.grid > article {
	box-shadow: ;
	border-radius: 10px;
	text-align: center;
	background: whitesmoke;
	width: 250px;
	border: 3px solid green;
	margin-top: 10px;
	background-color: #fff;
	font-family: verdana;

}

.grid article h2 {
	font-family: verdana;
	color: #529c42;
	margin: 5px;
	padding: 5px;

}

.grid article p{
	border: 1px outset;
	border-radius: 100px;
	margin: 20px;
	padding: 10px;
	background-color: red;
	font-size: 12px;
	font-family: verdana;
	color: white;
}

.grid article p:hover{
	color: white;
	background-color: black;
	border: black;
}

.konten{
	cursor: pointer;
}

.grid > article:hover {
	transform: scale(1.1.3);

}

.katalog {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	margin: 20px;
	align-items: center;
	grid-gap: 30px;
	margin-top: 10px;


}
.katalog > article {
	box-shadow: ;
	border-radius: 10px;
	text-align: center;
	background: whitesmoke;
	width: 280px;
	border: 3px solid green;
	margin-top: 10px;
	font-family: verdana;
	background-color: #529c42;
}

.katalog article h2 {
	font-family: verdana;
	color: white;
	margin: 5px;
	padding: 5px;

}

.katalog article p{
	border: 1px outset;
	border-radius: 100px;
	margin: 20px;
	padding: 10px;
	background-color: white;
	font-size: 18px;
	font-family: verdana;
}

.katalog article p:hover{
	color: white;
	background-color: black;
	border: black;
}
.konten{
	cursor: pointer;
}

.grid > article:hover {
	transform: scale(1.2);

}


.kartu:hover {
	color: darkred;
}
@media (max-width: 1000px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 500px) {
	.grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

.formulir {
	position : relative
}

form {
	background: #529c42;
	display: flex;
	flex-direction: column;
	padding: 2vw 4vw;
	width: 50%;
	max-width: 600px;
	border-radius: 10px;
	margin-top: 15px;
}

form h3{
	color: #fff;
	font-weight: 800;
	margin-bottom: 20px;
}

form input, form textarea {
	border: 0;
	margin: 10px 0;
	padding: 20px;
	outline: none;
	background: #f5f5f5;
	font-size: 16px;
}

form button {
	padding: 15px;
	background: red;
	color: #fff;
	font-size: 18px;
	border: 0;
	outline:  none;
	cursor: pointer;
	width: 150px;
	margin: 20px auto;
	border-radius: 30px;
}


footer{
   padding: 10px;
   color:  #fff;
   background-color: #529c42;
   border: 2px solid #fff;
   text-align: center;
   font-size: 15px;
   font-size: verdana;
}
